In [1]:
print("Hello World")

Hello World

In [2]:
#This is a variable and how to print a variable
x=5
print(x)

5

In [3]:
""""
This is a multiline comment
"""
print("hello")

hello

In [4]:
#the following are all integers
print(2)
print(10)

2
10

In [5]:
#the following are all floats
print(10.888)
print(8.0)

10.888
8.0

In [6]:
#the following are booleans
print(True)
print(False)

True
False

In [7]:
#the following are strings
print("")
print("There's a snake in my boot!")
print('True')

There's a snake in my boot!
True

In [8]:
#exercise from the textbook
print("jessica")

jessica

In [10]:
#check the type
type(2)
type(0.88)

float

Variables

In [11]:
sport = "baseball"
print(sport)

baseball

In [12]:
num1=5 #storing an integer into a variable
num2=8.4 #storing a float into a variable
print(num1,num2) #you can print multiple items using comas

5 8.4

In [13]:
#storing a boolean into a variable
switch=True
print(switch)

True

In [14]:
#storing strings into a variable
name='John Smith'
fav_number="9"
print(name,fav_number)

John Smith 9

In [15]:
#using two variables to create another variable
result=num1+num2
print(result)

13.4

In [16]:
#adding, deleting, multiplying. dividing from a variable
result+=1 #same as saying result=result+1
print(result)
result*=num1 #same as saying result=result*num1
print(result)

14.4
72.0

In [17]:
#defining a variable and overwriting its value
name='John'
print(name)
name="Sam"
print(name)

John
Sam

In [20]:
#adding the space before and after = does not change the action, just makes it easier to read the code
name="John Smith"
name = "John Smith1"
print(name)

John Smith1

In [23]:
#Tuesday exercise
x = 3
y = 10
result = x*y
print(x,"+",y,"=",x+y)

3 + 10 = 13

In [24]:
print(245.54*13.66)

3354.0764

WORKING WITH STRINGS

In [25]:
#using the addition operator without variables
name = "John" + " " + "Smith"
print(name)

John Smith

In [26]:
#using the addition operator with variables
first_name="John"
last_name="Smith"
full_name=first_name+" "+last_name
print(full_name)

John Smith

In [30]:
#injecting variables using the format method
name = "John"
print( "Hello {}".format(name))
print("Hello {}, you are {} years old!".format(name, 28))

Hello John
Hello John, you are 28 years old!

In [31]:
#using the new f strings
name = "John"
print(f"Hello {name}")

Hello John

In [42]:
#practice
name_1="chenqie"
name_2="xiguifei"
action="sitong"
print("{} yao gao fa {} {}".format(name_1,name_2,action))

chenqie yao gao fa xiguifei sitong

In [43]:
#one major difference between versions 2&3
name = 'John'
print('Hello, %s' % name)

Hello, John

In [44]:
#python 2 multiple variable formatting
first_name="John"
last_name="Smith"
print("Hello, %s %s" %(first_name,last_name))

Hello, John Smith

In [45]:
#using indexes to print each element
word="Hello"
print(word[0])  #will output "H"
print(word[1])  #will output "e"
print(word[-1]) #wilol output "o"

H
e
o

In [46]:
print(word[0:2])    #will output 'He'

He

In [48]:
print(word[0:5:2])  #will output "Hlo"

Hlo

In [52]:
#practice
integer=23
float=4.5
boolean=False
string="John"
print("%d %f %s %s" %(integer, float, boolean, string))

23 4.500000 False John

In [53]:
#practice
name="Jess"
sports="swimming"
print("{}'s favourite sports is {}.".format(name,sports))

Jess's favourite sports is swimming.

Manipulating strings

In [56]:
#using the title method to capitalise a string
name="john smith"
print(name.title())
print(name.lower())
print(name.upper())

John Smith
john smith
JOHN SMITH

In [ ]:
#replacing an exclamation point with a period
words="Hello there!"
print(words.replace("!","."))
#For the replace to be stored properly afterward, we would have to re-declare our words variable: words = words.replace(‘!’, ‘.’).

Hello there.

In [59]:
#finding the starting index of our search term
s="look over that way"
print(s.find("over"))

5

In [62]:
#removing white space with strip
name = "   1john   "
print(name.strip())
print(name.lstrip())

1john
1john

In [64]:
#converting a string into a list of words
s="These words are separated by spaces"
print(s.split())

['These', 'words', 'are', 'separated', 'by', 'spaces']

In [ ]:
#practice
name="hehe"
print(name.upper())

HEHE

In [89]:
name="$$John Smith$$"
print(name.strip("$"))
print(name.lstrip("$"))
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

John Smith
John Smith$$
banana

In [87]:
print(name.strip("$$"))
print(name.lstrip("john"))

John Smith
$$John Smith

Friday Project: Printing principles

In [115]:
#creating a product and price for three items
p1_name, p1_price="Books", 49.95
p2_name, p2_price="Computer", 579.99
p3_name,p3_price="Monitor", 124.89

#create a company name and information
company_name="coding template. inc."
company_address="283 Franklin St."
company_city="Boston, MA"
 
 #declare ending message
message = "Thanks for shopping with us today!"

#creating a top border
print("*" * 50)

#print company information first,using format
print("\t\t{}".format(company_name.title()))
print("\t\t{}".format(company_address))
print("\t\t{}".format(company_city))

#print a line between sections
print("="*50)

#print out header for sections of items
print("\tProduct Name\tProduce Price")

#create a print statement for each product
print("\t{}\t\t${}".format(p1_name.title(),p1_price))
print("\t{}\t${}".format(p2_name.title(),p2_price))
print("\t{}\t\t${}".format(p3_name.title(),p3_price))

#print a line between sections
print("="*50)

# print out header for section of total
print("\t\t\tTotal")

# calculate total price and print out
total = p1_price + p2_price + p3_price
print("\t\t\t${}".format(total))

#print a line between sections
print("="*50)

**************************************************
		Coding Template. Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Product Name	Produce Price
	Books		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================